@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Формат HEEEEX */
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
  height: 100%;
}

button {
  font-family: inherit;
}

.body-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

/* Хедер */
.page-header {
  display: flex;
  align-items: start;
  margin: 0;
  padding: 0 70px;
  height: 70px;
  margin-bottom: -6px;
  box-sizing: border-box;
  width: 1200px;
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 64px;
  width: 1fr;
  box-sizing: border-box;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 20px;
}

/* Логотип */
.logo-image {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  padding: 0;
}

.navigation-logo {
  outline: none;
  margin-right: 30px;
}

/* Ссылки навигации */
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  margin: 0;
  padding: 0;
}

.navigation-link {
  position: relative;
  box-sizing: border-box;
  padding: 20px 16px;
  display: block;
  height: 64px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 2px;
  background-color: rgba(117, 98, 87, 1);
  content: "";
}

/* Пользовательское меню */
.navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.navigation-user-item {
  margin: 0;
  padding: 0;
  min-height: 64px;
  min-width: 44px;
}

.navigation-user-link {
  display: block;
  width: 44px;
  height: 64px;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus {
  outline: none;
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-user-link {
  display: flex;
  justify-content: center;
  align-items: center;

}

.navigation-user-link:focus path,
.navigation-user-link:hover path {
  opacity: 0.6;
}

.navigation-user-link:focus {
  outline: none;
}

.navigation-user-link:active path {
  opacity: 0.3;
}

.navigation-user-link-favorite {
  position: relative;
}

.notification-badge {
  position: absolute;
  display: block;
  font-size: 10px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  right: 4px;
  top: 11px
}


.header-button {
  box-sizing: border-box;
  width: 160px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  margin-top: 14px;
  padding: 8px 34px;
}


/* Кнопки */
.button-blue {
  display: inline-block;
  color: #FFFFFF;
  background-color: rgba(130, 179, 211, 1);
  border-radius: 4px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.button-blue:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button-blue:focus {
  outline: none;
  background-color: rgba(104, 162, 202, 1);
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:disabled {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(229, 229, 229, 1);

}

.button-brown {
  display: inline-block;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.button-brown:hover {
  background-color: rgba(97, 80, 72, 1);
}

.button-brown:focus {
  outline: none;
  background-color: rgba(97, 80, 72, 1);
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);

}

.button-brown:disabled {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(229, 229, 229, 1);
}

/* Велком подпись с фоном */
.hero {
  background-image: url(../images/main-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  position: relative;
  width: 1200px;
  height: 485px;
  margin: 0;
  padding-top: 51px;
  padding-bottom: 82px;

}

.hero::after {
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 0;
  content: "";
  background-image: url(../images/divider.svg);

}

.welcome-image {
  display: block;
  padding: 0;
  margin: 0 auto;
}

/* Мейн */
.advantages {
  margin: 0;
  padding: 0;
}

/* Шрифты */
.advantages-title,
.service-title,
.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;

}

.advantages-description,
.service-description,
.search-description {
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

/* Заголовок преимуществ */
.advantages-title {
  width: 651px;
  align-self: center;
  margin-top: 69px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.advantages-description {
  width: 651px;
  align-self: center;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 90px;
}

/* Блок преимуществ */

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  box-sizing: border-box;
  position: relative;
}

/* светло-синий Ф0.12 */
.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  padding: 112.5px 0;
  background-color: rgba(131, 179, 211, 0.12);
}

/* светло-синий 0.2 */
.advantages-item:nth-child(3) {
  padding: 112.5px 0;
  background-color: rgba(131, 179, 211, 0.2);
}


.advantages-item:nth-child(1) .advantages-item-title,
.advantages-item:nth-child(5) .advantages-item-title {
  color: #FFFFFF;
  text-align: center;

}

.advantages-item:not(.advantages-item.advantages-wide)::after {
  position: absolute;
  display: block;
  content: "";
  background-color: #000000;
  opacity: 0.3;
  height: 2px;
  width: 60px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

.advantages-item-container::after {
  position: absolute;
  display: block;
  content: "";
  background-color: #ffffff;
  opacity: 0.3;
  height: 2px;
  width: 60px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}


.advantages-image {
  display: block;
  margin: 0;
  padding: 0;
}

/* Добавить блок или флекс с оболочкой... */
.advantages-item.advantages-wide {
  grid-column: 1/-1;
  display: flex;
  color: #FFFFFF;
  background-color: rgba(131, 179, 211, 1);
}

.advantages-item:nth-child(5) {
  flex-direction: row-reverse;
}

.advantages-item-container {
  margin: 0;
  padding: 102px 0;
  width: 100%;
  position: relative;
}

.advantages-item-title {
  width: 175px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.advantages-item-description {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;
}

/* Заголовок ифраструктур */
.service-title {
  width: 505px;
  align-self: center;
  margin-top: 64px;
  margin-bottom: 20px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.service-description {
  width: 505px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 64px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Блок инфраструктур */
.service-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.service-item {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 81px 0px;

}

.service-item:nth-child(1) {
  background-image: url(../images/home-icon.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 81px;

}

.service-item:nth-child(2) {
  background-image: url(../images/food-icon.svg);
  background-size: 74px 70 px;
  background-repeat: no-repeat;
  background-position: center 81px;
}

.service-item:nth-child(3) {
  background-image: url(../images/souvenirs-icon.svg);
  background-size: 64px 76px;
  background-repeat: no-repeat;
  background-position: center 81px;
}

.service-item-title {
  width: 230px;
  margin-top: 102px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;

}

.service-item-description {
  width: 230px;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.service-item:nth-child(1),
.service-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Блок поиска */
.search {
  margin: 0;
  padding: 95px 0;
  text-align: center;
}

.search-title {
  margin: 0px auto 20px auto;
}

.search-description {
  width: 592px;
  margin: 0 auto 54px auto;
}

.search-button,
.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 8px 50px;
}

/* Блок subscribe */
.subscribe-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.subscribe-input {
  margin: 0;
  width: 452px;
}

.field {
  color: #000000;
  font: inherit;
  background-color: rgba(242, 242, 242, 1);
  line-height: 24px;
  border: none;
  padding: 14px 20px;
  box-sizing: border-box;
}

.border-radius-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.border-radius-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* пока не понял как реалтизовать */
.subscribe-input:hover,
.subscribe-input:focus {
  outline: #83B3D3;
  outline-width: 2px;

}

.subscribe-input:disabled {
  background-color: rgba(229, 229, 229, 1);
}

/* разобраться */
/* .subscribe-input::placeholder {} */


.catalog-input {
  background-color: rgba(242, 242, 242, 1);
}

.subscribe-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.subscribe-main {
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 96px 0 104px 0;
  text-align: center;
}

.subscribe-main .subscribe-form {
  color: #FFFFFF;
}

.subscribe-title {
  margin: 0 auto 20px auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-catalog {
  padding: 96px 0 104px 0;
  text-align: center;
}

.subscribe-catalog-title {
  color: #000000;
}

.subscribe-description {
  box-sizing: border-box;
  width: 475px;
  margin: 0 auto 54px auto;
  font-size: 22px;
  line-height: 26px;
}

/* Футер */
.page-footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px 70px;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 142px;
}

.social-list-item {
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.social-list-item:hover .social-list-icon path {
  fill: rgba(104, 162, 202, 1);
}

.social-list-item:focus .social-list-icon path,
.social-list-item:focus {
  outline: none;
  fill: rgba(104, 162, 202, 1);
}

.social-list-item:active .social-list-icon path {
  fill: rgba(104, 162, 202, 0.3);
}

.social-list-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

}

.social-list li {
  flex-grow: 1;
  min-width: 47px;
  height: 40px;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.phone-number:hover {
  color: rgba(117, 97, 87, 1);
}

.phone-number:focus {
  color: rgba(117, 97, 87, 1);
  outline: none;
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3);

}

.htmlacademy-logo-link {
  position: relative;
  display: inline-block;
  height: 33px;
  width: 115px;
  margin: auto 0;
  padding: 0;
}


.html-logo-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.htmlacademy-logo-link:hover .html-logo-icon path {
  fill: rgba(117, 97, 87, 1);

}

.htmlacademy-logo-link:focus .html-logo-icon path {
  outline: none;
  fill: rgba(117, 97, 87, 1);

}

.htmlacademy-logo-link:focus {
  outline: none;

}

.htmlacademy-logo-link:active .html-logo-icon path {
  fill: rgba(117, 97, 87, 0.3);
}

/* .htmlacademy-logo {
  display: block;
  margin: 0;
  padding: 0;
} */

/* Modal window  */
.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

/* Show modal window */
.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  width: 717px;
  padding: 64px 70px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-tittle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 64px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  cursor: pointer;
  padding: 20px 19px 19px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.modal-close-button:hover {
  background-color: rgba(230, 230, 230, 1);
}

.modal-close-button:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  background-color: rgba(230, 230, 230, 1)
}

.modal-close-button:active {
  background-color: rgba(230, 230, 230, 1)
}

.modal-close-button:active .close-button-icon path {
  opacity: 0.3;
}

.modal-content {
  width: 577px;
}

.modal-form {
  display: grid;
  grid-template-columns: 137px 110px 1fr 137px 111px;
  row-gap: 48px;
}

.modal-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 12px 20px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
  border: none;
}

.modal-input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.modal-input:hover {
  background-color: #E6E6E6;
}

.modal-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}


.modal-input-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-top: 12px;
  padding-bottom: 12px;
  text-transform: capitalize;
}

.modal-input-container {
  position: relative;
  grid-column: 2/6;
}

.calendar-icon {
  position: absolute;
  top: 16px;
  right: 22px;
  bottom: 17px;
  /* left: 402px; */
  opacity: 0.3;
}

.check-signature {
  position: absolute;
  top: 52px;
  left: 20px;
  font-size: 16px;
  line-height: 21px;
}

.check-signature.check-signature-error {
  color: rgba(255, 87, 87, 1);
}

.adults-value-input,
.children-value-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 12px 20px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
  border: none;
  text-align: center;

}

.adults-value-input::-webkit-inner-spin-button,
.adults-value-input::-webkit-outer-spin-button,
.children-value-input::-webkit-inner-spin-button,
.children-value-input::-webkit-outer-spin-button {
  appearance: none;
}

.modal-spin-container {
  position: relative;
}

.plus-button,
.minus-button {
  position: absolute;
  cursor: pointer;
  border: none;
  top: 14px;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  padding: 0;
}

.plus-button {
  right: 10px;
}

.minus-button {
  left: 10px;
}

.minus-icon {
  height: 2px;
  width: 14px;
  background-color: rgba(117, 97, 87, 0.3);
}

.plus-icon {
  position: relative;
  height: 2px;
  width: 14px;
  background-color: rgba(117, 97, 87, 0.3);
}

.plus-icon::after {
  display: block;
  content: "";
  height: 6px;
  width: 2px;
  position: absolute;
  background-color: inherit;
  left: 6px;
  top: 2px;
}

.plus-icon::before {
  display: block;
  content: "";
  height: 6px;
  width: 2px;
  position: absolute;
  color: transparent;
  background-color: inherit;
  left: 6px;
  top: -6px;
}

/* Состояние иконок плюс/минус */
.children-value-input:focus,
.adults-value-input:focus {
  outline: none;
}

.plus-button:hover .plus-icon,
.minus-button:hover .minus-icon {
  background-color: #000000;
}

.plus-button:focus,
.minus-button:focus {
  outline: 3px solid #82B3D3;

}

.plus-button:focus .plus-icon,
.minus-button:focus .minus-icon {
  background-color: #000000;
}

.plus-button:active .plus-icon,
.minus-button:active .minus-icon {
  opacity: 0.2;
}

.tooltip-wrapper {
  grid-column: 4/5;
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: relative
}

/* tooltip */
.modal-tooltip {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: rgba(131, 179, 211, 1);
  background-image: url(../images/modal-tooltip.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-tooltip:hover {
  opacity: 0.6;
}

.tooltip-container {
  position: relative;
}

/* Show tooltip */

.tooltip-content {
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 256px;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px 18px 18px 22px;
  display: none;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  left: 4px;
  top: 40px;
  transform: translateX(-50%);


}

.modal-tooltip:hover+.tooltip-content,
.modal-tooltip:focus+.tooltip-content {
  display: block;
}

.tooltip-content::after {
  display: inherit;
  background-image: url(../images/tooltip-arrow.svg);
  width: 19px;
  height: 9px;
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
}


.modal-search-button {
  grid-column: 1/6;
  padding: 18px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* Страница каталога */

.filter-container {
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 35px 70px 70px 70px;
  height: 412px;
  box-sizing: border-box;
}

/* Хлебные крошки */
.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  box-sizing: border-box;
  margin: 0;
  margin-right: 10px;

}

.breadcrumbs-link:hover,
.breadcrumbs-item:first-child:hover {
  opacity: 0.6;
}


.breadcrumbs-link:focus {
  outline: none;
}

.breadcrumbs-item:first-child:active,
.breadcrumbs-link:active {
  opacity: 0.3;
}



.breadcrumbs-item:first-child {
  width: 12px;
  background-image: url(../images/catalog-main.svg);
  background-repeat: no-repeat;
  background-position: center left;
}

.breadcrumbs-item:not(:first-child) {
  padding-left: 18px;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center left;
}

.breadcrumbs-item:last-child {
  margin: 0;
  margin-right: 0;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  width: 100%;
  height: 100%;

}

/* Фильтры */
.catalog-form {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  color: #ffffff;

}



.catalog-filter-list,
.infrastructure-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-form fieldset {
  border: none;
}

.catalog-filter-item,
.infrastructure-filter-item {
  margin-top: 0;
  margin-bottom: 16px;
}


.catalog-filter-item:last-child,
.infrastructure-filter-item:last-child {
  margin: 0;
  margin-bottom: 0;

}

.catalog-filter-checkbox {
  margin: 0;
  padding: 0;
  margin-right: 70px;
  box-sizing: border-box;
}

.control {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  padding-left: 36px;

}

.control-mark::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  top: 1.5px;
  left: 0;
}



/* .control-input:hover+.control-mark-radio::before,
.control-input:hover+.control-mark::before {
  opacity: 0.6;

} */
.control-input:hover~span {
  opacity: 0.6;
}

.control-input:focus+.control-mark-radio::before,
.control-input:focus+.control-mark::before {
  outline: 3px solid rgba(131, 179, 211, 1);
}

/* .control-input:active+.control-mark-radio::before,
.control-input:active+.control-mark::before {
  opacity: 0.3;
} */
.control-input:active~span {
  opacity: 0.3;
}


.control-input:disabled~span {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked+.control-mark::before {
  content: "";
  background-image: url(../images/check-mark.svg);
  background-position: center 5px;
  background-repeat: no-repeat;
}

.control-mark-radio::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255, 1);
  border-radius: 50%;
  top: 1.5px;
  left: 0;
}

.control-input[type="radio"]:checked+.control-mark-radio::before {
  background-color: rgba(63, 94, 114, 1);
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 1);
}


.catalog-filter-radio {
  margin: 0;
  padding: 0;
  margin-right: auto;
  box-sizing: border-box;
}


.catalog-filter-prise {
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.range-scale {
  position: relative;
  height: 4px;
  width: 287px;
  background-color: rgba(255, 255, 255, 0.3);
  /* Пока */
  cursor: pointer;

}


.range-bar {
  position: absolute;
  height: 4px;
  width: 226px;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
  display: block;
  position: absolute;
  background: #FFFFFF;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  border: none;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 3px solid rgba(131, 179, 211, 1);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;

}

.toggle-max {
  top: -8px;
  right: -10px;
}

.scale-inputs {
  display: flex;
  column-gap: 2px;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;

}

.range-input {
  margin: 0;
  width: 142px;
  height: 48px;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.range-input:hover {
  background-color: (230, 230, 230, 1);
}

.range-input:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.scale-inputs-wrapper {
  position: relative;
}

/* max-length? */
.range-input+label {
  position: absolute;
  right: 20px;
  top: 12px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  line-height: 24px;
}

/* плейсхоллдер изчезает.. а надо как?... */


.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;

}

/* проверь зачем тут МИНКонтент */
.catalog-filter-buttons {
  margin: 0;
  padding: 0;
  padding-top: 56px;
  width: min-content;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.control {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.apply-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  margin-bottom: 32px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.reset-button {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 57.5px;
  text-align: center;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  outline: none;
  box-shadow: inset 0px 0px 0 3px #83B3D3;
}

.reset-button:active {
  opacity: 0.3;
}

.reset-button:disabled {
  color: #FFFFFF;
  opacity: 0.1;
}

/* Каталог */
.catalog {
  margin: 0;
  padding: 50px 70px 60px 70px;
}

.display-elements {
  display: flex;
  height: 48px;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.catalog-product-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.number-of-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-right: 200px;

}


.view-buttons {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  list-style-type: none;
}

.view-button-item {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  margin: 0;
  margin-right: 8px;

}

.view-button-link {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  cursor: pointer;
}

.display-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.select-wrapper {
  display: flex;
  position: relative;
  width: 290px;
  align-items: center;
}

.select-display-elements {
  width: 100%;
  padding: 14px 20px;
  padding-right: 129px;
  font: inherit;
  appearance: none;
  box-shadow: inset 0 0 0 2px rgba(229, 229, 229, 1);
  border-radius: 4px;
  border: none;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 30px center;
}

.select-display-elements:focus,
.select-display-elements:hover {
  outline: 0;
  box-shadow: inset 0 0 0 2px rgba(104, 162, 202, 1);
}


.select-display-elements:active {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 1);
  color: #000000;
  opacity: 0.3;

}


.view-button-link:hover {
  border: 2px solid rgba(0, 0, 0, 1);

}

.view-button-link:focus {
  outline: none;
  border: 2px solid rgba(104, 162, 202, 1);


}

.view-button-link:active {
  border: 2px solid rgba(0, 0, 0, 1);
}

.view-button-link.current-button {
  border: 2px solid rgba(0, 0, 0, 1);
}

.view-button-link.current-button:focus {
  outline: none;
  border: 2px solid rgba(104, 162, 202, 1);

}

.view-button-item:last-child {
  margin-right: 0;
}

/* карточки товаров */
.product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}


.product-card {
  margin: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  row-gap: 16px;
  align-items: center;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card-image {
  display: block;
  margin: 0;
  padding: 0;
  grid-column: 1/-1;
  object-fit: contain;

}

.product-card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  grid-column: 1/-1;
}

.product-card p {
  margin: 0;
  padding: 0;
}

.product-card-prise {
  text-align: right;
}

.button-favorite {
  display: inline-block;
  color: #FFFFFF;
  background-color: rgba(125, 181, 79, 1);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 18px;
}

.button-favorite:hover {
  background-color: rgba(108, 158, 66, 1);

}

.button-favorite:focus {
  outline: none;
  background-color: rgba(108, 158, 66, 1);
}

.button-favorite:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(125, 181, 79, 1);
}


.button-favorite:disabled {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(229, 229, 229, 1);
}

.button-favorite,
.product-card-link,
.to-favorites,
.in-favorites {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.to-favorites {
  padding: 8px 20px;
}

.product-card-link {
  padding: 8px 26px;
}

.rating-stars {
  display: flex;
  column-gap: 8px;

}

.rating {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  grid-column: 2/-1;
  text-align: center;
  text-transform: uppercase;
  padding: 9px 22px 8px 22px;
  border-radius: 4px;
  border: none;

}

/* Пагинация */
.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;

}

.pagination-item {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-link {
  box-sizing: border-box;
  padding: 0;
  padding-top: 11.36px;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  width: 60px;
  height: 60px;
}

/* Каталог subscribe */
.subscribe-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-catalog-description {
  font-size: 22px;
  line-height: 26px;
}